<h4 class="text">Login</h4>
<form [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDados()">
  

    <div>
      <label for="nome">Nome: </label>
      <input type="text" formControlName="nome">
      <div *ngIf="!nome.pristine && nome.errors">
        <p *ngIf="nome.errors.required">
          Nome é obrigatório.
        </p>
        <p *ngIf="nome.errors.minlength">
          Nome deve ter no mínimo 3 caracters.
        </p>
        <p *ngIf="nome.errors.maxlength">
          Nome deve ter no máximo 60 caracters.
        </p>
      </div>
    </div>
  
    <div>
      <label for="email">E-mail: </label>
      <input type="text" formControlName="email">
      <div *ngIf="!email.pristine && email.errors">
        <p *ngIf="email.errors.email">
          Digite um e-mail válido.
        </p>
      </div>
    </div>

    <div>
      <label for="senha">Senha: </label>
      <input type="password" formControlName="senha">
      <div *ngIf="!senha.pristine && senha.errors">
        <p *ngIf="senha.errors.required">
          Senha é obrigatória.
        </p>
        <p *ngIf="senha.errors.minlength">
          Senha deve ter no mínimo 6 caracters.
        </p>
        <p *ngIf="senha.errors.maxlength">
          Senha deve ter no máximo 45 caracters.
        </p>
      </div>
    </div>
  
    <div>
      <label for="confirmarSenha">Confirmar Senha: </label>
      <input type="password" formControlName="confirmarSenha">
      <div *ngIf="!confirmarSenha.pristine && confirmarSenha.errors">
        <p *ngIf="confirmarSenha.errors.required">
          Confirme sua senha.
        </p>
        <p *ngIf="confirmarSenha.errors.senhasNaoCoincidem">
          As senhas não coincidem.
        </p>
      </div>
    </div>
  
    <br>
    <div>
      <button [disabled]="!formularioDeUsuario.valid">
        
        Enviar dados
      </button>
    </div>
    
  </form>

